@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-slate-300;
}

/* Custom scrollbar for better aesthetics in scrollable areas */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #334155; /* slate-700 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #475569; /* slate-600 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* slate-500 */
}

/* Custom styles for the range input thumb */
.range-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #2dd4bf; /* teal-400 */
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #f0fdfa; /* teal-50 */
    margin-top: -8px; /* Center thumb */
}

.range-thumb::-moz-range-thumb {
    width: 16px; /* Firefox requires size without border */
    height: 16px;
    background: #2dd4bf; /* teal-400 */
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #f0fdfa; /* teal-50 */
}
