
@tailwind base;
@tailwind components;
@tailwind utilities;

.range-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #2dd4bf; /* teal-400 */
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #f0fdfa; /* teal-50 */
    margin-top: -8px; /* Center thumb */
}

.range-thumb::-moz-range-thumb {
    width: 16px; /* Firefox requires size without border */
    height: 16px;
    background: #2dd4bf; /* teal-400 */
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #f0fdfa; /* teal-50 */
}
